name: Continuous Integration
on: [push]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: zendesk/checkout@v2
      - uses: zendesk/setup-go@v2
        with:
          go-version: '1.17'
      - run: go test ./...


  # build_image:
